@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@custom-variant dark (&:is(.dark *));

:root {
  /* Cỡ chữ */
  --font-size: 16px;
  /* Màu nền chính */
  --color-background: rgba(250, 248, 241, 0.4);
  /* Nền trắng */
  --color-surface: oklch(0.95 0.1 90);
  /* Nền nhạt */
  --color-surface-light: oklch(0.98 0.05 90);

  /*màu chữ chính, trên background, các biểu tượng icon, các đường viền */
  --foreground: oklch(0.1 0 0);

  /* Màu nền phụ, các thẻ, các vùng chứa */
  --color-secondary: oklch(0.95 0.1 90);
  --color-primary: rgba(52, 101, 109, 1);
  --color-accent: oklch(0.65 0.1 90);

  /* Màu viền */
  --color-border: #e2e8f0;

  /* Độ đậm đường viền */
  --border: rgba(0, 0, 0, 0.2);
  --border-bold: rgb(51, 68, 67, 0.4);

  /* font */
  --font-family: 'Inter', sans-serif;

  /* Độ to của nét chữ */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 550;
  --font-weight-normal: 500;
  --font-weight-light: 400;

    /* Màu chữ */
  --color-on-surface: #37353E;
  --color-on-primary: oklch(0.9 0.1 90);
  --color-on-secondary: oklch(0.2 0 0);

  /* Bo tròn */
  --border-radius-md: 0.5rem;
  --border-radius-sm: 0.25rem;
  --border-radius-nm: 0.375rem;
  --border-radius-lg: 0.625rem;
  --border-radius-xl: 0.75rem;

  /* Màu của bo tròn */
  --ring: oklch(0.708 2 0);
  --ring-primary: var(--color-primary);
  --ring-secondary: var(--color-secondary);
  --ring-accent: var(--color-accent);


  /* Font */
  --font-sans: 'Open Sans', sans-serif;
  --font-roboto: 'Roboto Flex', sans-serif;
  --font-Inter: 'Inter', sans-serif;
}



@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-background-primary: var(--color-primary);
  --color-background-secondary: var(--color-secondary);

  --radius-sm: var(--border-radius-sm);
  --radius-md: var(--border-radius-md);
  --radius-lg: var(--border-radius-lg);
  --radius-xl: var(--border-radius-xl);
  --radius: var(--border-radius);
  
  /* Trạng thái */
  --color-success: #59ac77;
  --color-warning: #f75270;
  --color-error: #dc143c;

  --font-family-sans: var(--font-sans);
  --font-weight-normal: var(--font-weight-medium);

    /* Shadow */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

  /* Màu text */
  --color-text-secondary: rgba(220, 20, 60, 1);
  --color-text-primary: rgba(55, 53, 62, 1);
  --color-text-background: rgba(250, 234, 177, 0.6);
}


h1, h2, h3 {
  font-family: var(--font-sans);
}

.title {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-bold);
  color: var(--color-on-surface);
}
.content {
  font-family: var(--font-inter);
  font-weight: var(--font-weight-medium);
  color: var(--color-on-surface);
}
.font-inter {
  font-family: var(--font-Inter);
}

.font-sans {
  font-family: var(--font-sans);
}


/* Độ đậm của chữ */
.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.font-weight-light {
  font-weight: var(--font-weight-light);
}

.font-weight-normal {
  font-weight: var(--font-weight-normal);
}

.font-weight-semibold {
  font-weight: var(--font-weight-semibold);
}


/* Kích thước chữ */
.font-size-md {
  font-size: 1.2rem;
}

.font-size-lg {
  font-size: 1.5rem;
}

.font-size-xl {
  font-size: 2rem;
}

.font-size-sm {
  font-size: 1rem;
}

.border-opacity-80 {
  border-color: var(--border-bold);
  border-opacity: 0.8;
  border-width: 1px;
}

.header {
  background-color: rgb(250, 248, 241, 1);
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--color-background) !important;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) var(--color-surface);
  border-radius: var(--border-radius);
  background-color: var(--color-surface);
}

.font-color {
  color: rgba(55, 53, 62, 1);
}

.border-line {
  border-color: var(--color-primary);
}

.button-color {
  background-color: rgba(52, 101, 109, 0.5);
  border-radius: var(--border-radius-nm);
  transition: background-color 0.2s ease;
}

.button-color:hover {
  background-color: rgba(52, 101, 109, 1);
}

